/* Icons
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-circle-complementary-bg: $eos-bc-white;
$eos-circle-icon-sets-bg: $eos-bc-violet-500;
$eos-circle-icon-sizes-bg: $eos-bc-cerulean-500;
$eos-circle-icon-colors-bg: $eos-bc-blue-500;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-icon-circle-margin: $eos-xxxl auto $eos-xxl;
$eos-icon-circle-size: 137px;
$eos-circle-complementary-size: 105px;
$eos-icon-guide-zindex: $eos-zindex-top;
