/* Icons UX
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-icons-ux-margin-right: $eos-s + 2;
$eos-icons-ux-margin-top: $eos-xs - 2;
$eos-icons-ux-vertical-align-icon: $eos-xl + 5;
$eos-icons-ux-link-icon-margin-right: $eos-xs
