/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard/dashboard.variables.scss */
.dashboard {
  z-index: 0;

  &.container {
    margin-bottom: 0;
  }

}

/* Getting started
  ========================================================================== */

.getting-started {
  // Background
  background-image: linear-gradient(135deg, $eos-dash-gs-bg-a 25%, $eos-dash-gs-bg-b 25%, $eos-dash-gs-bg-b 50%, $eos-dash-gs-bg-a 50%, $eos-dash-gs-bg-a 75%, $eos-dash-gs-bg-b 75%, $eos-dash-gs-bg-b 100%);
  background-size: $eos-dash-gs-bg-size $eos-dash-gs-bg-size;
}

.getting-started-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.getting-started-img {
  max-width: $eos-dash-gs-hero-bg-max-size;
}

@media screen and (max-width: $eos-sd-max) {
  .getting-started-img {
    display: none;
  }

  .getting-started-item {
    margin-bottom: $eos-dash-gs-item-sm-margin;
  }
}

.atomic-classification {
  .figure-wrap {
    align-items: center;
    background: $eos-dash-gs-ac-figure-bg;
    border-radius: 50%;
    display: flex;
    height: $eos-dash-gs-ac-figure-h-w;
    justify-content: center;
    margin: 0 auto;
    width: $eos-dash-gs-ac-figure-h-w;

    img {
      width: $eos-dash-gs-ac-figure-img-w;
    }
  }
}
